backend:
  name: github
  repo: moyankano/moises-portfolio
  branch: master
  local_backend: true

media_folder: "static/images"
public_folder: "/images"

collections:
  - name: "posts"
    label: "Posts del Blog"
    folder: "content/posts"
    create: true
    slug: "{{year}}-{{month}}-{{day}}-{{slug}}"
    fields:
      - { name: "title", label: "Título", widget: "string" }
      - { name: "date", label: "Fecha", widget: "datetime" }
      - { name: "draft", label: "Borrador", widget: "boolean", default: false }
      - { name: "tags", label: "Etiquetas", widget: "list", default: ["hugo"] }
      - name: "description"
        label: "Descripción (para SEO)"
        widget: "text"
      - name: "cover_image"
        label: "Imagen destacada"
        widget: "image"
        required: false
      - label: "Contenido"
        name: "body"
        widget: "markdown"
        buttons: 
          - bold
          - italic
          - link
          - heading-one
          - heading-two
          - quote
          - bulleted-list
          - numbered-list
          - image